{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--Header-->
{% include 'navbar.html' %} <!--Navbar-->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Contact</li>
            </ol>
            <h2>Contact</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>For more enquiries, you can reach us via any of the contact information below.
                    We'll be ready to give you timely response in sha Allah.</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Alkhair Islamic Academy</h4>
                            <p>73, Kudu Ibrahim Khalil Street, Rijiyar Zaki, Gwarzo Road, Kano.</p>
                        </div>

                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Silver Spoon Restaurant</h4>
                            <p>Shop 2 & 3, Rafin Dan Nana, Rijiyar Zaki, Gwarzo Road, Kano.</p>
                        </div>

                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Al-murabbi Printing Co.</h4>
                            <p>Opp. Nipco Filling Station, Janbulo 2nd Gate, Gwarzo Road, Kano.</p>
                        </div>

                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Al-qibla International Academy</h4>
                            <p>132, Rijiyar Zaki Gabas, Behind New Police Station, Gwarzo Road, Kano.</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>grtpristinemulticoop@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Phone:</h4>
                            <p>08065580920 | 08032528663</p>
                        </div>

                        <!--                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"-->
                        <!--                                    frameborder="0" style="border:0; width: 100%; height: 290px;"-->
                        <!--                                    allowfullscreen></iframe>-->
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}