{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include 'navbar_auth.html' %} <!--Navbar-->
        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">

                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Change Password</li>
                    </ol>
                    <h2>Change Password</h2>

                </div>
            </section><!-- End Breadcrumbs -->

            <section class="inner-page">
                <div class="container">
                    <h2>Change Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        <section>
                            <div class="form row">
                                <div class="form-group col-12">
                                    <label for="old_password">Old Password</label>
                                    {% render_field form.old_password class="form-control" placeholder="Old Password" %}
                                </div>
                                <div class="form-group col-12">
                                    <label for="new_password1">New Password</label>
                                    {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                                </div>
                                <div class="form-group col-12">
                                    <label for="new_password2">Confirm New Password</label>
                                    {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-12 float-right clearfix">
                                    <input type="submit" class="btn btn-info">
                                </div>
                            </div>
                        </section>
                        {{ form.as_p }}

                        <input type="submit" value="Change Password">
                    </form>

                    <a href="{% url 'users:index' %}">Back to Home</a>
                </div>
            </section>
        </main><!-- End #main -->
    {% else %}
        <p class="lead">You are not allowed to access this page.</p>
        <p class="lead">Return to <a href="#">Home</a>.</p>
    {% endif %}
{% endblock %}